terraform/secret.tfvars
terraform/.terraform.lock.hcl
terraform/.terraform/*
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
nody
terraform/openstack-connect/.terraform/*
terraform/aws-connect/.terraform/*
terraform/openstack-connect/terraform.tfstate
terraform/aws-connect/terraform.tfstate
terraform/openstack-connect/terraform.tfstate.backup
terraform/aws-connect/terraform.tfstate.backup
