apiVersion: v1
clusters:
- cluster:
    certificate-authority: /home/{{ ansible_user }}/.kube/ca.crt
    server: https://{{ hostvars[groups['masters'][0]].private_ip }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    namespace: {{ namespace_name }}
    user: {{ common_name }}
  name: {{ context_name }}
current-context: {{ context_name }}
kind: Config
preferences: {}
users:
- name: {{ common_name }}
  user:
    client-certificate: /home/{{ ansible_user }}/.kube/client.crt
    client-key: /home/{{ ansible_user }}/.kube/client.key
