apiVersion: v1
clusters:
- cluster:
    certificate-authority-data: {{ hostvars[groups['masters'][0]].ca_file.stdout | b64encode }}
    server: https://{{ hostvars[groups['masters'][0]].private_ip }}:6443
  name: kubernetes
contexts:
- context:
    cluster: kubernetes
    user:  {{ ansible_user }}
  name: {{ ansible_user }}
current-context: {{ ansible_user }}.{{ context_name }}.context
kind: Config
preferences: {{ ansible_user }}
users:
- name: {{ ansible_user }}
  user:
    client-certificate-data: {{ hostvars[groups['masters'][0]].crt_result.certificate | b64encode }}
    client-key-data: {{ private_key.privatekey |  b64encode }}
