apiVersion: certificates.k8s.io/v1
kind: CertificateSigningRequest
metadata:
  name: {{ common_name }}
spec:
  groups:
  - {{ org_name }}
  request: {{ hostvars[groups['connect'][0]].client_csr.stdout | b64encode | trim }}
  signerName: kubernetes.io/kube-apiserver-client
  usages:
  - client auth
